# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
# Force Unix-style newlines with a newline ending every file & trim trailing whitespace
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,html,css,styl}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

