<div class="tab-right menu-tab-right table-{{$ctrl.measure.color}}">
  <ul class="nav nav-tabs" id="myTabTwo">
    <li class="nav-item" ng-repeat="dimension in $ctrl.qlikConfig.dimensions | orderBy:'id'"
      ng-click="$ctrl.selectDimension(dimension)">
      <a class="nav-link" ng-class="{active: dimension.value==$ctrl.dimension.value}">{{dimension.title}}</a>
    </li>
  </ul>
  <div class="custom-content-wrapper tab-border">
    <div class="tab-content" id="myTabTwoContent">

      <!-- DropDown on the right tab -->
      <div class="dropdown qubec-dropdown">
        <nice-select option-list="$ctrl.qlikConfig.refTypes" on-select-changed="$ctrl.selectRefType(selected)"
          model="$ctrl.refType">
        </nice-select>
        <nice-select option-list="$ctrl.qlikConfig.costTypes" on-select-changed="$ctrl.selectCostType(selected)"
          model="$ctrl.costType">
        </nice-select>
      </div>

      <div class="reference-lists" ng-if="$ctrl.showCompare">
        <div class="ref-list col-ref">
          <span class="title"><strong>Gr réf. </strong> <span
              class="badge">{{$ctrl.dimension.id==1 ? $ctrl.refGroupCountEstab : $ctrl.refGroupCountInst}}</span></span>
          <div class="ref-dropdown">
            <div class="ref-dropdown-wrap filter-list" id="LIST01a" ng-show="$ctrl.dimension.id==1"></div>
            <div class="ref-dropdown-wrap filter-list" id="LIST01b" ng-show="$ctrl.dimension.id==2"></div>
          </div>
        </div>
        <div class="ref-list col-comp">
          <span class="title"><strong>Gr comp. </strong> <span
              class="badge">{{$ctrl.dimension.id==1 ? $ctrl.compGroupCountEstab: $ctrl.compGroupCountInst}}</span></span>
          <div class="ref-dropdown">
            <div class="ref-dropdown-wrap filter-list" id="LIST02a" ng-show="$ctrl.dimension.id==1"></div>
            <div class="ref-dropdown-wrap filter-list" id="LIST02b" ng-show="$ctrl.dimension.id==2"></div>
          </div>
        </div>
      </div>

      <div class="tab-pane show active">
        <div class="tabs right-tab-items {{$ctrl.refType.colorClass}}" style="display: block;">
          <div class="row">
            <div ng-repeat="measure in $ctrl.measures" ng-click="$ctrl.selectMeasure(measure)"
              class="col-xl-6 col-sm-6 half-padding quebec-{{measure.color}}">
              <select-card data="measure" active="measure.value==$ctrl.measure.value" ref-type="$ctrl.refType">
              </select-card>
            </div>
            <div class="col-xl-12 button-wrap">
              <div class="buttons button-active">
                <ul class="nav nav-tabs">
                  <li class="btn-stack" ng-repeat="stack in $ctrl.stacks | orderBy:'id'"
                    ng-class="{'btn-full': stack.long}" ng-click="$ctrl.selectFilter(stack)">
                    <a ng-class="{active: stack.value==$ctrl.stack.value}">{{stack.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
