@import '../common';

.navbar {
  background-color: $bgColor;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links {
    width: 150px;
    padding: 0.6rem 0 0.6rem 0;
    text-align: center;
    border-right: 1px solid $lightBgColor;

    span {
      font-size: medium;

      a {
        color: $lightBgColor;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }
    }
  }
  
}
