<div class="custom-content-wrapper tab-border bottom-tab-wrapper">
  <div class="tab-bottom chart-wrap">
      <div class="tab-pane in active">
        <h2>Distribution par groupes d’âge </h2>
        <ul class="nav nav-tabs">
          <li><a class="active"><i class="fas fa-hashtag"></i></a></li>
          <li><a><i class="fal fa-percentage"></i></a></li>
          <li><a><i class="fas fa-dollar-sign"></i></a></li>
        </ul>
          <div class="tab-pane in active show">
            <div class="chart-wrapper">
              <img src="assets/images/chart-two.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>