@import "common/common";

.app {
  height: 100%;
  background-color: $lightBgColor;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 45px 45px 0;
}

#CurrentSelections {
  width: calc(100% - 250px);
  display: inline-block;


  .buttons-end {
    display: none;
  }

  .qv-panel-current-selections .buttons{
    margin-top: 0;
    border-right: 1px solid rgba(64,63,62,.4)!important;
    border-bottom: 0 !important;
  }
  .qv-panel-current-selections .wrap{
    border-bottom: 0;
  }
}

.scrolling-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.footer-content{
  width: 180px!important;
  line-height: 38px;
  padding: 0!important;
  position: absolute;
}

.container-fluid{
  padding: 0;
}

.qv-selection-toolbar{
  padding-top: 7px;
}
