<div class="keyBoard">
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(7)">7</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(4)">4</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(1)">1</div>
  <div class="operandKey" ng-click="$ctrl.onChangeSignClicked()">±</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(8)">8</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(5)">5</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(2)">2</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(0)">0</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(9)">9</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(6)">6</div>
  <div class="operandKey" ng-click="$ctrl.onDigitClicked(3)">3</div>
  <div class="operandKey" ng-click="$ctrl.onDecimalClicked()">.</div>
  <div class="operatorKey" ng-click="$ctrl.onOperatorClicked('DIV')">÷</div>
  <div class="operatorKey" ng-click="$ctrl.onOperatorClicked('MUL')">×</div>
  <div class="operatorKey" ng-click="$ctrl.onOperatorClicked('SUB')">-</div>
  <div class="operatorKey" ng-click="$ctrl.onOperatorClicked('ADD')">+</div>
  <div class="clearKey" ng-click="$ctrl.onClearClicked()">C</div>
  <div class="calculationKey" ng-click="$ctrl.onGetResultClicked()">=</div>
</div>
