<navbar></navbar>
<section class="top-block">
  <div class="container">
    <ul class="top-arrow-block">
      <li class="arrow-left"><span class="a-list-item"> ‹ </span></li>
      <li><a href="#">Back to search results for "{ search request here }"</a></li>
    </ul>
    <div class="title-layer">
      <h1>PlayStation 4 Slim 500GB Console - Uncharted 4 Bundle</h1>
      <div class="brand-feature">
        <a href="#" class="link-feature">Sony</a>
      </div>
    </div>
    <div class="title-right">
      <div class="a-column a-span8">
        <div class="text-to-right">
          <span class="a-text-bold">Earn an Amazon Gift Card for this item</span>
          <br>
          <span class="a-text-trade">Trade in yours for</span>
          <span class="a-text-price a-text-bold">$127.49</span>
          <span class="a-text-learn-more"><a href="#">Learn more</a></span>
        </div>
      </div>
      <div class="trade-button">
        <a href="#">Trade in now</a>
      </div>
    </div>
  </div>
</section>
<section class="photo-gallery">
  <div class="item-poster">
    <img ng-src="{{$ctrl.poster}}" alt="item name here" style="float: right">
  </div>
  <div class="item-shop">
    <cart-form price="$ctrl.price"></cart-form>
  </div>
  <div class="image-list-block">
    <div class="main-image"><img src="{{$ctrl.poster}}" alt="poster"></div>
    <div class="secondary-images"><img src="{{$ctrl.poster}}" alt="sec_img"></div>
  </div>
</section>
<section class="about-item">
  <h2 class="info-h2">About the product</h2>
  <ul class="item-info">
    <li ng-repeat="string in $ctrl.strings">{{ string }}</li>
  </ul>
  <div class="product-info">
    <hr class="divider">
    <h2 class="info-h2">Product description</h2>
    <span class="info-desc">Platform For Display: <strong>{{ $ctrl.name }}</strong>  &nbsp;|&nbsp;  Edition: <strong>{ category here }</strong> </span>
  </div>
  <div class="a-section-table">
    <table class="item-details-table">
      <tbody>
      <tr>
        <th class="item-sect-entry">ASIN</th>
        <td class="a-size-base">BP1AADLL</td>
      </tr>
      <tr>
        <th class="item-sect-entry">Release date</th>
        <td class="a-size-base">September 15, 2016</td>
      </tr>
      <tr>
        <th class="item-sect-entry">Best Sellers Rank</th>
        <td class="a-size-base">BP1AADLL</td>
      </tr>
      <tr>
        <th class="item-sect-entry">Pricing</th>
        <td class="a-size-base">The strikethrough price is the List Price. Savings represents a discount off the List
          Price.
        </td>
      </tr>
      <tr>
        <th class="item-sect-entry">Product Dimensions</th>
        <td class="a-size-base">16.8 x 14 x 4 inches; 8.5 pounds</td>
      </tr>
      <tr>
        <th class="item-sect-entry">Media</th>
        <td class="a-size-base">Video Game</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr class="divider">
</section>
