.etalonnage-page{
    overflow: hidden;

    .container-fluid{
        padding: 0;
    }

    .footer-content{
        width: 180px;
        line-height: 38px;
        padding: 0;
        position: absolute;
    }
}
