body {
	font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
}

div {
	display: block;
}

a, a:active, a:link, a:visited {
    text-decoration: none;
    color: #0066c0;
}

h1 {
	font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
}

h1, h2, h3, h4 {
    font-family: Arial,sans-serif;
    text-rendering: optimizeLegibility;
    padding-bottom: 4px;
}

label {
	display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

input, select, textarea {
	-webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    font-family: Arial,sans-serif;
    line-height: 19px;
    color: #111;
}

button, input, textarea {
	margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 14.3333px Arial;
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

.create-sect {
	margin-bottom: 22px;
	padding: 14px 18px;
}

.logo-top {
	text-align: center;
	margin-bottom: 18px;
}

.a-icon-logo {
	background-position: -5px -130px;
    height: 31px;
    width: 103px;
}

.a-icon {
	background-image: url(../img/amazon_sprites.png);
    -webkit-background-size: 400px 650px;
    background-size: 400px 650px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.a-icon-alt {
    position: absolute;
    left: -9999px;
    top: auto;
    display: block;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    overflow: hidden;
}

.add-item {
	width: 500px;
    margin: 0 auto;
	display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}

.add-item-padding {
    padding: 20px 26px;
}

.a-spacing-small {
	margin-bottom: 10px;
}

.input-row {
	width: 100%;
	margin-bottom: 14px;
}

.a-input-text, input[type=text], input[type=number], input[type=tel], input[type=password], input[type=search] {
    width: 95%;
    background-color: #fff;
    height: 31px;
    padding: 1px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
}

.a-input-text:focus, input[type=text]:focus, input[type=number]:focus {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(235,157,21,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(235,157,21,1);
    box-shadow: 0px 0px 7px 2px rgba(235,157,21,1);
    border-color: #C38603;
}

.a-divider.a-divider-break {
	text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.a-divider.a-divider-break h5 {
	line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.a-divider.a-divider-break:after {
    content: "";
    width: 99%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.a-button-input {
	text-align: center;
	width: 99%;
	height: 31px;
	padding: 3px 7px;
    line-height: normal;
	border: 1px solid #A88734;
	border-radius: 4px;
    background-color: #F9E7BA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9E7BA), to(#EEBA36));
    background-image: -webkit-linear-gradient(top, #F9E7BA, #EEBA36);
    background-image: -moz-linear-gradient(top, #F9E7BA, #EEBA36);
    background-image: -ms-linear-gradient(top, #F9E7BA, #EEBA36);
    background-image: -o-linear-gradient(top, #F9E7BA, #EEBA36);
    background-image: linear-gradient(to bottom, #F9E7BA, #EEBA36);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F9E7BA, endColorstr=#EEBA36);
    outline: none;

}

.a-button-input:hover {
    background-color: #f5d78b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5d78b), to(#F5B200));
    background-image: -webkit-linear-gradient(top, #f5d78b, #F5B200);
    background-image: -moz-linear-gradient(top, #f5d78b, #F5B200);
    background-image: -ms-linear-gradient(top, #f5d78b, #F5B200);
    background-image: -o-linear-gradient(top, #f5d78b, #F5B200);
    background-image: linear-gradient(to bottom, #f5d78b, #F5B200);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5d78b, endColorstr=#F5B200);
    outline: none;
}

.a-button-input:active {
    background-color: #F0C14C;;
}

.a-alert-content {
    position: relative;
    margin-top: 5px;
}

.a-alert-content span {
    margin-left: 20px;
    color: red;
}


.a-icon-alert {
    height: 13px;
    width: 14px;
    position: absolute;
    left: 2px;
    top: 2px;
    background-position: -135px -130px;
}

input[type=text].has-error, input[type=number].has-error {
    border-color: red;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255,74,74,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255,74,74,1);
    box-shadow: 0px 0px 10px 2px rgba(255,74,74,1);
}

.editing-active {
    background-color: lightgreen;
}

.item-style {
    width: 500px;
    background-color: lightgreen;
    padding: 10px;
    border-bottom: 1px solid green;
}

.button-grey {
    background-color: grey;
}