<navbar></navbar>

<section class="main-tab">
  <div class="container-fluid">
    <stream-bar selected-stream="$ctrl.stream"></stream-bar>

    <div class="row">
      <div class="col-xl-8 col-sm-12 col-quebec-left">
        <div id="leftTabContent">
          <etlonnage-main-chart></etlonnage-main-chart>
          <etlonnage-sub-chart></etlonnage-sub-chart>
        </div>
      </div>

      <div class="col-xl-4 col-sm-12 col-padding-left col-quebec-right">
          <div class="tab-right">
            <ul class="nav nav-tabs" id="myTabTwo" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="first-tab" data-toggle="tab" href="#etab" role="tab" aria-controls="home" aria-selected="true">Étab</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="second-tab" data-toggle="tab" href="#inst" role="tab" aria-controls="profile" aria-selected="false">Inst</a>
                </li>
            </ul>
            <div class="custom-content-wrapper tab-border">
              <div class="tab-content" id="myTabTwoContent">

                <!-- DropDown on the right tab -->
                <div class="dropdown qubec-dropdown">
                      <select class="select1" style="display: none;">
                        <option value="moy" disabled="" selected="">Moyenne</option>
                        <option value="moy">Moyenne</option>
                        <option value="med">Médiane</option>
                      </select><div class="nice-select select1" tabindex="0"><span class="current">Moyenne</span><ul class="list"><li data-value="moy" class="option selected disabled">Moyenne</li><li data-value="moy" class="option">Moyenne</li><li data-value="med" class="option">Médiane</li></ul></div>
                      <select class="select2" style="display: none;">
                        <option value="2" disabled="" selected="">Coûts directs</option>
                        <option value="2">Coûts directs</option>
                        <option value="1">Coûts totaux</option>
                      </select><div class="nice-select select2" tabindex="0"><span class="current">Coûts directs</span><ul class="list"><li data-value="2" class="option selected disabled">Coûts directs</li><li data-value="2" class="option">Coûts directs</li><li data-value="1" class="option">Coûts totaux</li></ul></div>
                  </div>
                <div class="tab-pane show active" id="etab" role="tabpanel" aria-labelledby="first-tab">
                  <div class="tabs right-tab-items tab-moy" data-tab-parent="ico-home" data-type-name="moy" style="display: block;">
                    <div class="row">
                      <div class="col-xl-6 col-sm-6 half-padding quebec-blue">
                        <div class="tab-r-items tab-link active" data-tab="ico-home-blue">
                          <div class="ico-text">
                            <i class="far fa-money-bill-alt"></i>
                            <h3>Coût total</h3>
                          </div>
                          <div class="price-wrap">
                            <p>MOY 200 000 $</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 half-padding quebec-green">
                        <div class="tab-r-items tab-link" data-tab="ico-home-green">
                          <div class="ico-text">
                            <i class="far fa-balance-scale"></i>
                            <h3>Coût moyen</h3>
                          </div>
                          <div class="price-wrap">
                            <p>MOY 200 000 $</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 half-padding quebec-purple">
                        <div class="tab-r-items tab-link" data-tab="ico-home-purple">
                          <div class="ico-text">
                            <i class="fas fa-medkit"></i>
                            <h3>Nombre d'épisodes</h3>
                          </div>
                          <div class="price-wrap">
                            <p>MOY 29 615</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 half-padding quebec-orange">
                        <div class="tab-r-items tab-link" data-tab="ico-home-orange">
                          <div class="ico-text">
                            <i class="fas fa-calendar-alt"></i>
                            <h3>DMS (jours)</h3>
                          </div>
                          <div class="price-wrap">
                            <p>MOY 125 000 $</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 half-padding quebec-maroon">
                        <div class="tab-r-items tab-link" data-tab="ico-home-maroon">
                          <div class="ico-text">
                            <i class="fas fa-bed"></i>
                            <h3>Équivalents-lits (Jours / 365)</h3>
                          </div>
                          <div class="price-wrap">
                            <p>MOY 11,06</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 half-padding quebec-darkgreen">
                        <div class="tab-r-items tab-link" data-tab="ico-home-darkgreen">
                          <div class="ico-text">
                            <i class="fas fa-users"></i>
                            <h3>Nombre de patients</h3>
                          </div>
                          <div class="price-wrap">
                            <p>MOY 182 000 $</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12 button-wrap">
                        <div class="buttons button-active">
                          <ul class="nav nav-tabs">
                            <li><a class="active">Groupes d'âge</a></li>
                            <li><a>Gravité</a></li>
                            <li><a>Typ/Atyp</a></li>
                            <li><a>Type de soins</a></li>
                            <li class="btn-full"><a>Type de coûts</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</section>