<header class="not-login-page">
  <div class="">
    <div class="main-header d-flex flex-wrap align-items-center">
      <div class="menu-hamburger">
        <nav class="">
          <div class="">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="open-ham fas fa-bars"></i>
              <i class="close-ham fas fa-times-circle"></i>
            </button>
          </div>
        </nav>
      </div>
      <div class="qubec-logo">
        <a href="#">
          <img src="assets/images/qubec-logo.png" alt="Quebec">
        </a>
      </div>
      <nav class="main-menu ml-auto">
        <ul class="menu-list">
          <li class="active"><a href="etlonnage.html">Étalonnage</a></li>
          <li><a href="comparaisons.html">Comparaisons</a></li>
          <li><a href="#">Profil de coûts</a></li>
          <li><a href="#">Analyses cliniques</a></li>
          <li><a href="#">Q&S</a></li>
          <li><a href="#">Analyse géospatiale</a></li>
          <li><a href="#">PdP</a></li>
          <li><a href="#">QdDR</a></li>
        </ul>
        <ul class="info-user">
          <li class="info-menu"><a href="table.html"><i class="fas fa-info-circle"></i></a></li>
          <li>
            <div class="dropdown user-menu right-user-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton">
                <a href="#"><i class="far fa-user-circle"></i> </a>
              </button>
              <div class="dropdown-menu accordion">
                <div class="recent-filters menu-filters active">
                  <h3 class="main-title">Recent Filters</h3>
                  <div class="slide">
                    <a class="dropdown-item check-icon" href="#">Acute/Couttotal/Average</a>
                    <a class="dropdown-item check-icon" href="#">Urgent/Couttotal/Average</a>
                    <a class="dropdown-item check-icon" href="#">External/Couttotal/Average</a>
                    <a class="dropdown-item check-icon" href="#">Acute/Couttotal/Average</a>
                    <a class="dropdown-item check-icon" href="#">Acute/Couttotal/Average</a>
                  </div>
                </div>
                <div class="trending-filters menu-filters">
                  <h3>Trending Filters</h3>
                  <div class="slide">
                    <a class="dropdown-item check-icon" href="#">Acute/Couttotal/Average</a>
                    <a class="dropdown-item check-icon" href="#">Urgent/Couttotal/Average</a>
                    <a class="dropdown-item check-icon" href="#">External/Couttotal/Average</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>