.admin
  .admin-title
  .admin-create
    center(800px)
    .textbox
      margin-bottom tb-margin
    textarea
      width 100%
      border none
      outline none
      min-height 380px
      makeShadow(1)
      padding tb-padding lr-padding
      line-height 2rem
      font-size 1.3rem
      font-weight 300
      margin-bottom tb-margin
    .form-buttons
      col(1/4, 3/4, 1)
      text-align right
