<navbar></navbar>
<h1>{{ vm.name }}</h1>
<section class="admin">
  <div class="admin-title">
    <h1>Create a post!</h1>
  </div>
  <div class="admin-create">
    <form name="postForm" novalidate ng-submit="vm.createPost(vm.post)">
      <textbox
      label="Post title"
      bind-to="vm.post.title"
      required
      name="title">
      </textbox>

      <textarea
      name="post"
      ng-model="vm.post.text"
      required
      placeholder="...write something">
      </textarea>

      <div class="form-buttons">
        <button class="button raised accent">
          Done
        </button>
      </div>
    </form>

  </div>
</section>
