<nav id="sidebar" class="sideBar">
  <div class="offset-header">
    <div class="offset-logo">
      <img src="assets/images/ps-logo.png" alt="Quebec">
    </div>
  </div>

  <div class="ham-dropdown" ng-repeat="subgroup in $ctrl.subgroups">
    <div class="dropdown qubec-dropdown">
      <select style="display: none;" ng-model="$ctrl[subgroup.model]"
        ng-change="$ctrl.onSubGroupChange(subgroup, $ctrl[subgroup.model])">
        <option ng-repeat="option in subgroup.options" value="{{option.value}}">{{option.title}}</option>
      </select>
      <div class="nice-select"><span class="current">{{subgroup.options[subgroup.default].title}}</span>
        <ul class="list">
          <li ng-repeat="li in subgroup.options" data-value="{{li.value}}" class="option"
            ng-class="{selected: subgroup.options[subgroup.default].value==li.value}">{{li.title}}
            </option>
        </ul>
      </div>
    </div>
  </div>

  <ul class="list-unstyled components off-canvas-items ham-menu-items" id="sidebar-menu">
    <li ng-repeat="filter in $ctrl.filters">
      <a class="dropdown-toggle" ng-click="$ctrl.toggle(filter)">{{filter.title}}<i class="fas"
          ng-class="{'fa-chevron-down': !filter.active, 'fa-chevron-up': filter.active}"></i></a>
      <ul class="list-unstyled sub-offset-menu" ng-class="{collapse: !filter.active}">
        <a>
          <div ng-repeat="(k,o) in filter.obj" class="sidebar-filter" id="{{o}}"></div>
        </a>
      </ul>
    </li>
  </ul>
</nav>
