.sideBar {
  height: 100%;

  .dropdown-toggle{
    cursor: pointer;
  }

  .sidebar-filter{
    height: 50px;

    // .qv-object-listbox{
    //   border-radius: 3px;
    //   border: 1px solid #d9d9d9;
    //   background: white;
    // }
  }
}

#sidebar-menu{
  overflow: auto;
}
