<nav id="sidebar" class="sideBar">
  <div class="offset-header">
    <div class="offset-logo">
      <img src="assets/images/ps-logo.png" alt="Quebec">
    </div>
  </div>
  <div class="ham-dropdown">
    <div class="dropdown qubec-dropdown">
      <select style="display: none;">
        <option value="1" selected="">Groupes d’âge normaux</option>
        <option value="2">Groupes d’âge pédiatriques</option>
        <option value="3">Groupes d’âge gériatriques</option>
      </select>
      <div class="nice-select" tabindex="0"><span class="current">Groupes d’âge normaux</span>
        <ul class="list">
          <li data-value="1" class="option selected">Groupes d’âge normaux</li>
          <li data-value="2" class="option">Groupes d’âge pédiatriques</li>
          <li data-value="3" class="option">Groupes d’âge gériatriques</li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="list-unstyled components off-canvas-items ham-menu-items">
    <li ng-repeat="filter in $ctrl.filters">
      <a class="dropdown-toggle" ng-click="$ctrl.toggle(filter)">{{filter.title}}<i class="fas"
          ng-class="{'fa-chevron-down': !filter.active, 'fa-chevron-up': filter.active}"></i></a>
      <ul class="list-unstyled sub-offset-menu" ng-class="{collapse: !filter.active}">
        <a>
          <div ng-repeat="o in filter.obj" class="sidebar-filter" id="{{o}}"></div>
        </a>
      </ul>
    </li>
  </ul>
</nav>
