<table class="table compare-table">
  <thead>
    <tr>
      <th class="compare-table-title-col"></th>
      <th class="bg-{{$ctrl.refColor}}">Gr réf.</th>
      <th class="bg-yellow">Gr comp</th>
      <th class="bg-grey">Écart</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.data" ng-class="{active: row.active}">
      <td ng-repeat="cell in row track by $index">
        <strong ng-if="$index==0">{{cell}}</strong>
        <span ng-if="$index!=0">{{cell}}</span>
      </td>
    </tr>
  </tbody>
</table>
