<div class="custom-content-wrapper tab-border">
    <ul class="nav nav-tabs icoTab">
      <li class="nav-item">
        <a class="active">
          <i class="far fa-chart-bar"></i>
        </a>
      </li>
      <li class="nav-item has-child">
        <a class="nav-link tab-table"><i
            class="fal fa-table"></i>
          </a>
        <ul class="sub-items">
          <li class="nav-item">
            <a class="sub-nav-link active"><i
                class="fas fa-hashtag"></i>
              </a>
          </li>
          <li class="nav-item">
            <a class="sub-nav-link">
              <i class="fal fa-percentage"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="in active">
      <h2>Coût total</h2>
      <div class="chart-wrapper">
        <img src="assets/images/chart-one.png">
      </div>
    </div>
</div>